body,ul,li,a,h1,h2,h4,h5,h6,button
{
    font-family: 'Montserrat';
}
body
{
    background: #f2f2f2;padding:0;margin:0;
}
.onlydesk
{
    display:block;
}
.header
{
   background: url(../img/bg3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   height:680px;
  
}
.main_logo_heading
{
    margin: 0;
}
/* navigation */
#mynav
{
    background: transparent;
    padding:5px 0px;
    border-radius:0px;
    margin:0px;
}
#mynav.affix
{
    background:#fff;z-index:10;
}
#logo
{
    color:#fff;
    font-size:28px;
    margin-left:1%;
    font-weight:900;
}
#mynav.affix #logo
{
    color:#000;
}
#nav_link 
{
    text-transform: uppercase;
    margin-right:1%;
}
#nav_link a
{
    color:#e6e6e6;
}
#nav_link a:hover
{
    color:#fff;
}
#mynav.affix #nav_link a
{
    color:#666;
}
#nav_link li.active a
{
    color:#fff;
    background: transparent;
}
#mynav.affix #nav_link li.active a,#mynav.affix #nav_link a:hover
{
    color:#000;
}
 
/* banner */
.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
   top: 0;
}

.carousel.vertical .next {
   top: 400px;
}

.carousel.vertical .prev {
   top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   top: 0;
}

.carousel.vertical .active.left {
   top: -400px;
}

.carousel.vertical .active.right {
   top: 400px;
}

.carousel.vertical .item {
   left: 0;
}
.banner
{
    font-family: 'Fjalla One';
    text-transform:uppercase;
}
#my_text_slider
{
    margin-top:15%;
    width:100%;
    color:#fff;
    height:auto;
    text-align:center;
    font-size:8em;
    box-shadow: 0px 1px 7px 0px #000;
}
.highlight_text
{
    color:#009999;
    font-family: 'Fjalla One';
}
/* about us */
#aboutus, #contactus ,#services, #footer,#work
{
    padding:6% 4% 8% 4%;text-align:center;font-family: 'Raleway', sans-serif;
}
.heading_main
{
  color:#191a1c; font-family: 'Raleway', sans-serif;font-size:50px;line-height: 1;
}
#aboutus span
{
    font-size:16px;color:#666;
}
.space
{
    margin-top:4%;
}
/* content in about section */
.content_about
{
    text-align:left;position: relative;
}
.content_about p
{
    font-size:15px;line-height:20px;color: #666;
}
/* green icon */
.icon_about
{
    text-align:right;
    font-size:130px;
    color:#009999;
}
/* icon in background */
.fa_inner 
{
    position:absolute;
    font-size:10em;
    opacity:0.8;
    z-index:-1;
    color:#e6e6e6;
    left:10px;
}
/* message parallax container */
.message
{
    padding:0;
    height:400px;position: relative;
}
/* black cover on image */
.extra-black-cover
{
    position: absolute;top:0;left:0;height:100%;width:100%;z-index:1;background:#000;opacity:0.8;
}
/* parallax */
.parallax {
    background-image: url('../img/paralax1.jpg');
    height:100%;width:100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* message body */
.message_body,.message_count_style
{
    position: absolute;top:0;left:0;width:100%;height:100%;text-align: center;color:#fff;z-index:2;font-family: 'Raleway', sans-serif;
    padding-top:150px;font-size:60px;
}
.know_more_button
{
    font-size:16px;
    background: transparent;
    border-radius:20px;
    border: solid 2px #fff;
    padding:5px 10px;
}
/* message box showing counts */
#box2
{
 height:180px;   
}
.message_count_style
{
    padding-top:30px;font-size:40px;
}
.count_value
{
 font-size:40px;color: #009999;display: block;font-weight: bolder;
}
.count_type
{
    color:#f2f2f2;font-size:20px;
}
/* contact us form */
#contactus form
{
    margin-top:4%;
}
#contactus input, #contactus textarea
{
    border: solid 1px #e6e6e6;
    background: #e6e6e6;
    border-radius:5px;
    padding:10px;
    margin:5px;
    width:48%;
}
#contactus input[type="text"]
{
    width:98%;
}
#contactus textarea
{
    height:150px;width:98%;
}
#contactus input:focus, #contactus textarea:focus
{
    border:solid 1px #009999;background: #fff;
}
#contactus input[type="submit"]
{
    border-radius:20px;
    background: #009999;
    color:#fff;
    width:200px;
}

/* footer */
#footer
{
    background-color:#000;
}
.company_title
{
    font-size:24px;font-weight:bolder;color:#f2f2f2;
}
#footer a
{
    color:#ccc;font-size:15px;margin:15px;
}
.copyright
{
    color:#e6e6e6;font-size:14px;
}
.go-to-top
{
    color:#fff;
    background:#009999;
    position: absolute;
    right: 20px;
    padding:10px;
    border-radius:5px;
    
}

.events_card{
    border-color: grey;
    box-shadow: 3px 3px 10px grey;
    background-color: lightgrey;
}

.btn-card{
    border-radius:0px;
    background: #009999;
    color:#fff;
}